.ant-layout-header{
    background: #ab3319;
    color: #fff;
}
.ant-layout-sider{
    background: #f6f6f6;
    border:1px solid #ddd;
}
.ant-layout-footer{
    background: #f6f6f6;
    border:1px solid #ddd;    
}